# Git
.git
.gitignore
.gitattributes

# Python
__pycache__
*.pyc
*.pyo
*.egg-info
.eggs
*.egg

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Logs & data
log/
*.log

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artifacts
build/
install/
