<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: v1.6.1-dev1-4-g75b5c6a  Build Version: 1.6.9609.37988
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="aider_pro.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.000946290571975528 -0.12915113733177 0.480025430006642"
        rpy="0 0 0" />
      <mass
        value="1.8672299751897" />
      <inertia
        ixx="0.20683973259385"
        ixy="-6.55086035418153E-09"
        ixz="-8.68938080271144E-08"
        iyy="0.200713656220381"
        iyz="1.03403067130152E-06"
        izz="0.00897810829760413" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="lift_Link">
    <inertial>
      <origin
        xyz="-0.0032251888296692 -0.0788976644034201 0.0915259113888865"
        rpy="0 0 0" />
      <mass
        value="0.590735662767956" />
      <inertia
        ixx="0.00181420250207392"
        ixy="-3.35445091435654E-07"
        ixz="7.73905188627186E-08"
        iyy="0.00053613371748347"
        iyz="-1.42508878593223E-05"
        izz="0.0013636647402106" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/lift_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/lift_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lift_Link"
    type="prismatic">
    <origin
      xyz="0 -0.0930000000000004 0.577289106240448"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lift_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="waist_Link">
    <inertial>
      <origin
        xyz="-0.000297704447893693 -0.164222576282022 0.241074573174172"
        rpy="0 0 0" />
      <mass
        value="1.90391027149609" />
      <inertia
        ixx="0.00626912605448278"
        ixy="-7.84067856400762E-08"
        ixz="5.15870169717078E-07"
        iyy="0.00705563713607597"
        iyz="-0.000270904072319097"
        izz="0.00338876895954978" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/waist_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/waist_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_Link"
    type="revolute">
    <origin
      xyz="0 0 0.04"
      rpy="0 0 0" />
    <parent
      link="lift_Link" />
    <child
      link="waist_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="head_Link">
    <inertial>
      <origin
        xyz="0.00094200204324539 0.00143657312009363 0.0170585208252463"
        rpy="0 0 0" />
      <mass
        value="0.0401514926582811" />
      <inertia
        ixx="8.86185725101856E-06"
        ixy="1.03594764925009E-09"
        ixz="-2.31662433923548E-09"
        iyy="8.35521578881492E-06"
        iyz="-6.77190367793501E-07"
        izz="1.09423938530696E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/head_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/head_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_Link"
    type="revolute">
    <origin
      xyz="0 -0.163916235400507 0.448200000000012"
      rpy="0 0 0" />
    <parent
      link="waist_Link" />
    <child
      link="head_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="head_Link2">
    <inertial>
      <origin
        xyz="0.0183113478640227 -0.0112581722816328 0.0556259375033163"
        rpy="0 0 0" />
      <mass
        value="0.189625426643452" />
      <inertia
        ixx="0.00023449694323182"
        ixy="2.74703102249457E-09"
        ixz="5.56789372379216E-08"
        iyy="0.000215834140287963"
        iyz="-1.49685149426855E-05"
        izz="0.000181588455298984" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/head_Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/head_Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_Link2"
    type="revolute">
    <origin
      xyz="-0.0183049377506555 -0.0130000000000431 0.0225999999999615"
      rpy="0 0 0" />
    <parent
      link="head_Link" />
    <child
      link="head_Link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm1">
    <inertial>
      <origin
        xyz="-0.076854 0.0019268 5.6057E-06"
        rpy="0 0 0" />
      <mass
        value="0.27717" />
      <inertia
        ixx="0.00015787"
        ixy="-3.0364E-07"
        ixz="-7.5242E-09"
        iyy="0.0002107"
        iyz="-1.3649E-10"
        izz="0.00014768" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84314 0.81569 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm1"
    type="revolute">
    <origin
      xyz="-0.0650100000000005 -0.14898591584271 0.322499999999999"
      rpy="0 0 0" />
    <parent
      link="waist_Link" />
    <child
      link="right_arm1" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm2">
    <inertial>
      <origin
        xyz="-3.44780114888699E-06 0.0148942670038915 -0.0820448469965109"
        rpy="0 0 0" />
      <mass
        value="0.210693834825324" />
      <inertia
        ixx="0.000156746561058226"
        ixy="1.22905868589011E-07"
        ixz="1.24954412785923E-08"
        iyy="0.000146693861668498"
        iyz="-1.67841263123688E-06"
        izz="0.00011808771853944" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm2"
    type="revolute">
    <origin
      xyz="-0.0825 -0.0205 0"
      rpy="0 0 0" />
    <parent
      link="right_arm1" />
    <child
      link="right_arm2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm3">
    <inertial>
      <origin
        xyz="-0.0085261 0.00053862 -0.11085"
        rpy="0 0 0" />
      <mass
        value="0.16242" />
      <inertia
        ixx="8.8429E-05"
        ixy="-8.6079E-09"
        ixz="1.3294E-08"
        iyy="8.5083E-05"
        iyz="4.7406E-06"
        izz="6.0182E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84314 0.81569 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm3"
    type="revolute">
    <origin
      xyz="0 0.0204999806952246 -0.1204"
      rpy="0 0 0" />
    <parent
      link="right_arm2" />
    <child
      link="right_arm3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm4">
    <inertial>
      <origin
        xyz="-0.00413597958303366 -1.04286898881811E-05 -0.0682376415319499"
        rpy="0 0 0" />
      <mass
        value="0.0612625148219103" />
      <inertia
        ixx="3.75687584687892E-05"
        ixy="-3.79966941278039E-09"
        ixz="-3.49905688711884E-08"
        iyy="3.60398987782547E-05"
        iyz="-9.45077595706762E-09"
        izz="1.68085574398451E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm4"
    type="revolute">
    <origin
      xyz="0.007 0 -0.128"
      rpy="0 0 0" />
    <parent
      link="right_arm3" />
    <child
      link="right_arm4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm5">
    <inertial>
      <origin
        xyz="-0.0058686 4.8221E-07 -0.089095"
        rpy="0 0 0" />
      <mass
        value="0.050386" />
      <inertia
        ixx="2.4909E-05"
        ixy="-3.7326E-08"
        ixz="3.6039E-08"
        iyy="1.9658E-05"
        iyz="-5.2409E-09"
        izz="8.368E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84314 0.81569 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm5"
    type="revolute">
    <origin
      xyz="-0.0146 0 -0.1"
      rpy="0 0 0" />
    <parent
      link="right_arm4" />
    <child
      link="right_arm5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm6">
    <inertial>
      <origin
        xyz="-0.0064461 -0.00044059 -0.040169"
        rpy="0 0 0" />
      <mass
        value="0.047198" />
      <inertia
        ixx="1.3162E-05"
        ixy="-2.3165E-09"
        ixz="6.7719E-07"
        iyy="1.0732E-05"
        iyz="-4.0229E-08"
        izz="8.7604E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84314 0.81569 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm6"
    type="revolute">
    <origin
      xyz="0.005 0 -0.12136"
      rpy="0 0 0" />
    <parent
      link="right_arm5" />
    <child
      link="right_arm6" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm7">
    <inertial>
      <origin
        xyz="0.000647566838035407 0.0416484658845698 -0.0423877563996512"
        rpy="0 0 0" />
      <mass
        value="0.103857535053998" />
      <inertia
        ixx="6.80806179939142E-05"
        ixy="2.10553231420253E-08"
        ixz="-2.66595373524896E-09"
        iyy="3.49502253448956E-05"
        iyz="4.20020632701429E-06"
        izz="5.81754399846435E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm7"
    type="revolute">
    <origin
      xyz="-0.0145 -0.02765 -0.05999"
      rpy="0 0 0" />
    <parent
      link="right_arm6" />
    <child
      link="right_arm7" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm8">
    <inertial>
      <origin
        xyz="0.019299 0.0022978 -0.046367"
        rpy="0 0 0" />
      <mass
        value="0.039876" />
      <inertia
        ixx="5.2665E-05"
        ixy="3.1408E-10"
        ixz="6.2654E-10"
        iyy="6.3188E-05"
        iyz="1.0534E-05"
        izz="2.425E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm8.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84314 0.81569 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm8.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm8"
    type="revolute">
    <origin
      xyz="-0.0171 0.023417 -0.065349"
      rpy="0 0 0" />
    <parent
      link="right_arm7" />
    <child
      link="right_arm8" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hand_tcp">
    <inertial>
      <origin
        xyz="-4.6033E-08 -1.45E-09 -1.8728E-07"
        rpy="0 0 0" />
      <mass
        value="0.000144" />
      <inertia
        ixx="1.2632E-09"
        ixy="-3.5384E-15"
        ixz="6.8157E-14"
        iyy="8.7713E-10"
        iyz="-3.526E-14"
        izz="8.7699E-10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_hand_tcp.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_hand_tcp.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_tcp"
    type="fixed">
    <origin
      xyz="0.0171000000000001 0.12828023583548 -0.0210756042379271"
      rpy="0 0 0" />
    <parent
      link="right_arm8" />
    <child
      link="right_hand_tcp" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_arm1">
    <inertial>
      <origin
        xyz="0.0363539123025254 0.00192678870689689 5.60647785863289E-06"
        rpy="0 0 0" />
      <mass
        value="0.2771689234867" />
      <inertia
        ixx="0.000157874770413574"
        ixy="3.03648849919119E-07"
        ixz="7.52388022155216E-09"
        iyy="0.000210695276621285"
        iyz="-1.37024024623589E-10"
        izz="0.000147675080181607" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm1"
    type="revolute">
    <origin
      xyz="0.105510000000001 -0.148985915842714 0.3225"
      rpy="0 0 0" />
    <parent
      link="waist_Link" />
    <child
      link="left_arm1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm2">
    <inertial>
      <origin
        xyz="-2.42058262073241E-07 0.0337460283397339 -0.0828716028476426"
        rpy="0 0 0" />
      <mass
        value="0.173551520246761" />
      <inertia
        ixx="0.000101995699943918"
        ixy="-1.37368000857082E-07"
        ixz="-8.10017166224279E-09"
        iyy="0.000105274488568744"
        iyz="-6.74907264493885E-08"
        izz="6.58728241848351E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm2"
    type="revolute">
    <origin
      xyz="0.0420000000000001 -0.0399999999999999 0"
      rpy="0 0 0" />
    <parent
      link="left_arm1" />
    <child
      link="left_arm2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm3">
    <inertial>
      <origin
        xyz="0.00852608873444463 0.00053861922505033 -0.0978512823277762"
        rpy="0 0 0" />
      <mass
        value="0.162415224100578" />
      <inertia
        ixx="8.84291598292499E-05"
        ixy="8.61688137919926E-09"
        ixz="-1.33099417782914E-08"
        iyy="8.50834261723063E-05"
        iyz="4.7406454862838E-06"
        izz="6.01820804953683E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm3"
    type="revolute">
    <origin
      xyz="0 0.0399999806952274 -0.133399999999999"
      rpy="0 0 0" />
    <parent
      link="left_arm2" />
    <child
      link="left_arm3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm4">
    <inertial>
      <origin
        xyz="0.0215359693221475 -1.04248057580525E-05 -0.068237649216924"
        rpy="0 0 0" />
      <mass
        value="0.061262551263452" />
      <inertia
        ixx="3.75688030860963E-05"
        ixy="3.81243890262556E-09"
        ixz="3.49903485211282E-08"
        iyy="3.6039960591548E-05"
        iyz="-9.4574076045802E-09"
        izz="1.68085422552777E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm4"
    type="revolute">
    <origin
      xyz="-0.0244 0 -0.115"
      rpy="0 0 0" />
    <parent
      link="left_arm3" />
    <child
      link="left_arm4" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm5">
    <inertial>
      <origin
        xyz="0.00586855047107551 4.9231304585784E-07 -0.0690947464248969"
        rpy="0 0 0" />
      <mass
        value="0.0503857298730898" />
      <inertia
        ixx="2.49085501449316E-05"
        ixy="3.73272409401345E-08"
        ixz="-3.60393625305203E-08"
        iyy="1.96584072192121E-05"
        iyz="-5.25790232431959E-09"
        izz="8.36800067244123E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm5"
    type="revolute">
    <origin
      xyz="0.032 0 -0.12"
      rpy="0 0 0" />
    <parent
      link="left_arm4" />
    <child
      link="left_arm5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm6">
    <inertial>
      <origin
        xyz="0.019446054065583 -0.000440612185771461 -0.0401690345482593"
        rpy="0 0 0" />
      <mass
        value="0.0471985933288053" />
      <inertia
        ixx="1.31623258724905E-05"
        ixy="2.30133801802274E-09"
        ixz="-6.77172967778744E-07"
        iyy="1.07319983492023E-05"
        iyz="-4.02510059639995E-08"
        izz="8.76035610766076E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm6"
    type="revolute">
    <origin
      xyz="-0.018 0 -0.10136"
      rpy="0 0 0" />
    <parent
      link="left_arm5" />
    <child
      link="left_arm6" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm7">
    <inertial>
      <origin
        xyz="-0.000647570329857239 0.0436485737771692 -0.0423877999002006"
        rpy="0 0 0" />
      <mass
        value="0.103857648360567" />
      <inertia
        ixx="6.80809354277288E-05"
        ixy="-2.10431413861502E-08"
        ixz="2.69085528049593E-09"
        iyy="3.49502855381199E-05"
        iyz="4.200354542113E-06"
        izz="5.81757170570128E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm7"
    type="revolute">
    <origin
      xyz="0.0275 -0.02965 -0.05999"
      rpy="0 0 0" />
    <parent
      link="left_arm6" />
    <child
      link="left_arm7" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm8">
    <inertial>
      <origin
        xyz="-0.0307419726442321 0.00229760411140251 -0.0463673678449107"
        rpy="0 0 0" />
      <mass
        value="0.0398761874096987" />
      <inertia
        ixx="5.26658377784492E-05"
        ixy="-4.12277353941084E-10"
        ixz="-5.57805780342066E-10"
        iyy="6.31884245795606E-05"
        iyz="1.05343616373577E-05"
        izz="2.4249846687143E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm8.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm8.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm8"
    type="revolute">
    <origin
      xyz="0.028543 0.025417 -0.065349"
      rpy="0 0 0" />
    <parent
      link="left_arm7" />
    <child
      link="left_arm8" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_hand_tcp">
    <inertial>
      <origin
        xyz="4.6033E-08 -1.45E-09 1.8728E-07"
        rpy="0 0 0" />
      <mass
        value="0.000144" />
      <inertia
        ixx="1.2632E-09"
        ixy="3.5384E-15"
        ixz="6.8157E-14"
        iyy="8.7713E-10"
        iyz="3.526E-14"
        izz="8.7699E-10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_hand_tcp.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_hand_tcp.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hand_tcp"
    type="fixed">
    <origin
      xyz="-0.0285425250176357 0.12828023583548 -0.0210756042379271"
      rpy="0 0 0" />
    <parent
      link="left_arm8" />
    <child
      link="left_hand_tcp" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="whel_Link1">
    <inertial>
      <origin
        xyz="0.0230801665498643 -0.000737881672637941 -0.00043489773681242"
        rpy="0 0 0" />
      <mass
        value="0.286092916963456" />
      <inertia
        ixx="0.000925538429258908"
        ixy="-1.05863350945517E-09"
        ixz="-3.44857172102883E-09"
        iyy="0.000517101301627992"
        iyz="-3.34289565083388E-09"
        izz="0.000517087078163278" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/whel_Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/whel_Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="whel_Link1"
    type="continuous">
    <origin
      xyz="0.201 -0.465 -0.035"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="whel_Link1" />
    <axis
      xyz="-1 0 0" />
  </joint>
  <link
    name="whel_Link2">
    <inertial>
      <origin
        xyz="-0.023080177161092 -0.000738344555530901 -0.000434040666072597"
        rpy="0 0 0" />
      <mass
        value="0.286092750982276" />
      <inertia
        ixx="0.000925538233763684"
        ixy="3.66544821210356E-09"
        ixz="-7.64517556982249E-10"
        iyy="0.000517087970004006"
        iyz="4.2891713554256E-09"
        izz="0.000517100154450984" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/whel_Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/whel_Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="whel_Link2"
    type="continuous">
    <origin
      xyz="-0.201 -0.465 -0.035"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="whel_Link2" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="whel_Link3">
    <inertial>
      <origin
        xyz="-0.0230801665498642 -2.39097779727859E-07 7.2074210759332E-07"
        rpy="0 0 0" />
      <mass
        value="0.286092916963456" />
      <inertia
        ixx="0.000925538429258908"
        ixy="1.05863350935065E-09"
        ixz="-3.44857171936867E-09"
        iyy="0.000517101301627993"
        iyz="3.34289565124288E-09"
        izz="0.000517087078163278" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/whel_Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/whel_Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="whel_Link3"
    type="continuous">
    <origin
      xyz="-0.201 -0.015 -0.035"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="whel_Link3" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="whel_Link4">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/whel_Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/whel_Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="whel_Link4"
    type="continuous">
    <origin
      xyz="0.201 -0.015 -0.0349999999999999"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="whel_Link4" />
    <axis
      xyz="-1 0 0" />
  </joint>
</robot>