<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: v1.6.1-dev1-4-g75b5c6a  Build Version: 1.6.9609.37988
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="aider_pro.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.000946290571975534 -0.12915113733177 0.480025430006642"
        rpy="0 0 0" />
      <mass
        value="1.8672299751897" />
      <inertia
        ixx="0.20683973259385"
        ixy="-6.55086035418017E-09"
        ixz="-8.68938080271085E-08"
        iyy="0.200713656220381"
        iyz="1.03403067130152E-06"
        izz="0.00897810829760413" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="lift_Link">
    <inertial>
      <origin
        xyz="-0.0032251888296692 -0.0788976644034202 0.0915259113888864"
        rpy="0 0 0" />
      <mass
        value="0.590735662767956" />
      <inertia
        ixx="0.00181420250207392"
        ixy="-3.35445091435651E-07"
        ixz="7.73905188627194E-08"
        iyy="0.00053613371748347"
        iyz="-1.42508878593223E-05"
        izz="0.0013636647402106" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/lift_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/lift_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="&#xA;lift_Link"
    type="prismatic">
    <origin
      xyz="0 -0.0930000000000004 0.577289106240448"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lift_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="waist_Link">
    <inertial>
      <origin
        xyz="-0.000297704447897095 -0.164222576282015 0.241074573174174"
        rpy="0 0 0" />
      <mass
        value="1.90391027149609" />
      <inertia
        ixx="0.00626912605448265"
        ixy="-7.84067855987203E-08"
        ixz="5.15870169663413E-07"
        iyy="0.00705563713607578"
        iyz="-0.000270904072319098"
        izz="0.00338876895954968" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/waist_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/waist_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_Link"
    type="revolute">
    <origin
      xyz="0 0 0.04"
      rpy="0 0 0" />
    <parent
      link="lift_Link" />
    <child
      link="waist_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="head_Link">
    <inertial>
      <origin
        xyz="0.000942002043245397 0.00143657312009368 0.0170585208252467"
        rpy="0 0 0" />
      <mass
        value="0.0401514926582812" />
      <inertia
        ixx="8.86185725101857E-06"
        ixy="1.03594764925057E-09"
        ixz="-2.31662433923539E-09"
        iyy="8.35521578881493E-06"
        iyz="-6.77190367793502E-07"
        izz="1.09423938530696E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/head_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/head_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_Link"
    type="revolute">
    <origin
      xyz="0 -0.163916235400507 0.448200000000012"
      rpy="0 0 0" />
    <parent
      link="waist_Link" />
    <child
      link="head_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="head_Link2">
    <inertial>
      <origin
        xyz="0.0183113478640227 -0.0112581722816327 0.0556259375033163"
        rpy="0 0 0" />
      <mass
        value="0.189625426643452" />
      <inertia
        ixx="0.00023449694323182"
        ixy="2.74703102249315E-09"
        ixz="5.56789372379246E-08"
        iyy="0.000215834140287963"
        iyz="-1.49685149426855E-05"
        izz="0.000181588455298984" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/head_Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/head_Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_Link2"
    type="revolute">
    <origin
      xyz="-0.0183049377506555 -0.0130000000000431 0.0225999999999615"
      rpy="0 0 0" />
    <parent
      link="head_Link" />
    <child
      link="head_Link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm1">
    <inertial>
      <origin
        xyz="-0.0768539268602273 0.00192679324933256 5.60569234686614E-06"
        rpy="0 0 0" />
      <mass
        value="0.277168822184387" />
      <inertia
        ixx="0.00015787475844511"
        ixy="-3.03644038495905E-07"
        ixz="-7.5241698487544E-09"
        iyy="0.000210695273242203"
        iyz="-1.36492261784467E-10"
        izz="0.000147675067222301" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm1"
    type="revolute">
    <origin
      xyz="-0.0650100000000005 -0.14898591584271 0.322499999999999"
      rpy="0 0 0" />
    <parent
      link="waist_Link" />
    <child
      link="right_arm1" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm2">
    <inertial>
      <origin
        xyz="-3.44780114891474E-06 0.0148942670038915 -0.0820448469965109"
        rpy="0 0 0" />
      <mass
        value="0.210693834825324" />
      <inertia
        ixx="0.000156746561058226"
        ixy="1.22905868589011E-07"
        ixz="1.24954412785924E-08"
        iyy="0.000146693861668498"
        iyz="-1.67841263123689E-06"
        izz="0.00011808771853944" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm2"
    type="revolute">
    <origin
      xyz="-0.0825 -0.0205 0"
      rpy="0 0 0" />
    <parent
      link="right_arm1" />
    <child
      link="right_arm2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm3">
    <inertial>
      <origin
        xyz="-0.00852610592795894 0.000538620510727561 -0.110851344537933"
        rpy="0 0 0" />
      <mass
        value="0.162415092593513" />
      <inertia
        ixx="8.84289771003369E-05"
        ixy="-8.60789444314427E-09"
        ixz="1.32935236804122E-08"
        iyy="8.50832463872933E-05"
        iyz="4.74061870407804E-06"
        izz="6.01820769264017E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm3"
    type="revolute">
    <origin
      xyz="0 0.0204999806952246 -0.1204"
      rpy="0 0 0" />
    <parent
      link="right_arm2" />
    <child
      link="right_arm3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm4">
    <inertial>
      <origin
        xyz="-0.00413597958303372 -1.04286898882366E-05 -0.06823764153195"
        rpy="0 0 0" />
      <mass
        value="0.0612625148219103" />
      <inertia
        ixx="3.75687584687892E-05"
        ixy="-3.79966941278033E-09"
        ixz="-3.49905688711884E-08"
        iyy="3.60398987782547E-05"
        iyz="-9.45077595706757E-09"
        izz="1.68085574398451E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm4"
    type="revolute">
    <origin
      xyz="0.00699999999999987 0 -0.128"
      rpy="0 0 0" />
    <parent
      link="right_arm3" />
    <child
      link="right_arm4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm5">
    <inertial>
      <origin
        xyz="-0.00586855929637309 4.82206079233105E-07 -0.0890947799049052"
        rpy="0 0 0" />
      <mass
        value="0.0503857005011349" />
      <inertia
        ixx="2.49085319855147E-05"
        ixy="-3.73256654385578E-08"
        ixz="3.6039471742802E-08"
        iyy="1.96583686498132E-05"
        iyz="-5.24086134146518E-09"
        izz="8.36802098465483E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm5"
    type="revolute">
    <origin
      xyz="-0.0146 0 -0.1"
      rpy="0 0 0" />
    <parent
      link="right_arm4" />
    <child
      link="right_arm5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm6">
    <inertial>
      <origin
        xyz="-0.00644608461528381 -0.000440593497131325 -0.0401691381996548"
        rpy="0 0 0" />
      <mass
        value="0.0471983447304541" />
      <inertia
        ixx="1.31621948721991E-05"
        ixy="-2.31650566268099E-09"
        ixz="6.77189845194556E-07"
        iyy="1.0731923198326E-05"
        iyz="-4.02286166519103E-08"
        izz="8.76035600207196E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm6"
    type="revolute">
    <origin
      xyz="0.00499999999999995 0 -0.121357392395326"
      rpy="0 0 0" />
    <parent
      link="right_arm5" />
    <child
      link="right_arm6" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm7">
    <inertial>
      <origin
        xyz="0.00064756683803549 0.0416484658845698 -0.0423877563996514"
        rpy="0 0 0" />
      <mass
        value="0.103857535053998" />
      <inertia
        ixx="6.80806179939142E-05"
        ixy="2.10553231420253E-08"
        ixz="-2.66595373524877E-09"
        iyy="3.49502253448956E-05"
        iyz="4.20020632701429E-06"
        izz="5.81754399846435E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm7"
    type="revolute">
    <origin
      xyz="-0.0145000000000001 -0.0276499999999477 -0.0599903810567671"
      rpy="0 0 0" />
    <parent
      link="right_arm6" />
    <child
      link="right_arm7" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm8">
    <inertial>
      <origin
        xyz="0.0192994794423811 0.00229779683558407 -0.046367138705644"
        rpy="0 0 0" />
      <mass
        value="0.0398758267789968" />
      <inertia
        ixx="5.26653755491588E-05"
        ixy="3.14079056652577E-10"
        ixz="6.26539011552633E-10"
        iyy="6.31879640305231E-05"
        iyz="1.05339082458508E-05"
        izz="2.42497501201281E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm8.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_arm8.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm8"
    type="revolute">
    <origin
      xyz="-0.0171 0.0234170897275935 -0.0653487797565743"
      rpy="0 0 0" />
    <parent
      link="right_arm7" />
    <child
      link="right_arm8" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hand_tcp">
    <inertial>
      <origin
        xyz="-4.60332888474468E-08 -1.44999805912205E-09 -1.8728147377356E-07"
        rpy="0 0 0" />
      <mass
        value="0.000143995915056229" />
      <inertia
        ixx="1.2632271257894E-09"
        ixy="-3.53844790390022E-15"
        ixz="6.8156718176006E-14"
        iyy="8.77134105058658E-10"
        iyz="-3.52598490870793E-14"
        izz="8.76991110155712E-10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_hand_tcp.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/right_hand_tcp.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_tcp"
    type="fixed">
    <origin
      xyz="0 0.151697325563073 -0.0864243839945014"
      rpy="0 0 0" />
    <parent
      link="right_arm7" />
    <child
      link="right_hand_tcp" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_arm1">
    <inertial>
      <origin
        xyz="0.0363539123025254 0.00192678870689683 5.60647785885493E-06"
        rpy="0 0 0" />
      <mass
        value="0.2771689234867" />
      <inertia
        ixx="0.000157874770413574"
        ixy="3.03648849919117E-07"
        ixz="7.52388022155209E-09"
        iyy="0.000210695276621285"
        iyz="-1.37024024624744E-10"
        izz="0.000147675080181607" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm1"
    type="revolute">
    <origin
      xyz="0.105510000000001 -0.148985915842714 0.3225"
      rpy="0 0 0" />
    <parent
      link="waist_Link" />
    <child
      link="left_arm1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm2">
    <inertial>
      <origin
        xyz="-2.42058262073241E-07 0.0337460283397339 -0.0828716028476426"
        rpy="0 0 0" />
      <mass
        value="0.173551520246761" />
      <inertia
        ixx="0.000101995699943918"
        ixy="-1.37368000857082E-07"
        ixz="-8.10017166224272E-09"
        iyy="0.000105274488568744"
        iyz="-6.74907264493885E-08"
        izz="6.58728241848351E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm2"
    type="revolute">
    <origin
      xyz="0.0420000000000001 -0.0399999999999999 0"
      rpy="0 0 0" />
    <parent
      link="left_arm1" />
    <child
      link="left_arm2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm3">
    <inertial>
      <origin
        xyz="0.00852608873444463 0.00053861922505033 -0.0978512823277762"
        rpy="0 0 0" />
      <mass
        value="0.162415224100578" />
      <inertia
        ixx="8.84291598292499E-05"
        ixy="8.61688137919924E-09"
        ixz="-1.33099417782915E-08"
        iyy="8.50834261723063E-05"
        iyz="4.7406454862838E-06"
        izz="6.01820804953683E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm3"
    type="revolute">
    <origin
      xyz="0 0.0399999806952274 -0.133399999999999"
      rpy="0 0 0" />
    <parent
      link="left_arm2" />
    <child
      link="left_arm3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm4">
    <inertial>
      <origin
        xyz="0.0215359693221474 -1.0424805757997E-05 -0.0682376492169242"
        rpy="0 0 0" />
      <mass
        value="0.061262551263452" />
      <inertia
        ixx="3.75688030860963E-05"
        ixy="3.81243890262552E-09"
        ixz="3.49903485211281E-08"
        iyy="3.6039960591548E-05"
        iyz="-9.45740760458013E-09"
        izz="1.68085422552777E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm4"
    type="revolute">
    <origin
      xyz="-0.0244000000000001 0 -0.115"
      rpy="0 0 0" />
    <parent
      link="left_arm3" />
    <child
      link="left_arm4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm5">
    <inertial>
      <origin
        xyz="0.00586855047107554 4.92313045802328E-07 -0.069094746424897"
        rpy="0 0 0" />
      <mass
        value="0.0503857298730898" />
      <inertia
        ixx="2.49085501449316E-05"
        ixy="3.73272409401345E-08"
        ixz="-3.60393625305204E-08"
        iyy="1.96584072192121E-05"
        iyz="-5.25790232431961E-09"
        izz="8.36800067244123E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm5"
    type="revolute">
    <origin
      xyz="0.032 0 -0.12"
      rpy="0 0 0" />
    <parent
      link="left_arm4" />
    <child
      link="left_arm5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm6">
    <inertial>
      <origin
        xyz="0.0194460540655831 -0.000440612185771433 -0.0401690345482594"
        rpy="0 0 0" />
      <mass
        value="0.0471985933288053" />
      <inertia
        ixx="1.31623258724905E-05"
        ixy="2.30133801802256E-09"
        ixz="-6.77172967778744E-07"
        iyy="1.07319983492023E-05"
        iyz="-4.02510059639996E-08"
        izz="8.76035610766076E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm6"
    type="revolute">
    <origin
      xyz="-0.018 0 -0.101357392395326"
      rpy="0 0 0" />
    <parent
      link="left_arm5" />
    <child
      link="left_arm6" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm7">
    <inertial>
      <origin
        xyz="-0.000647570329857211 0.0436485737771692 -0.0423877999002006"
        rpy="0 0 0" />
      <mass
        value="0.103857648360567" />
      <inertia
        ixx="6.80809354277288E-05"
        ixy="-2.10431413861508E-08"
        ixz="2.6908552804957E-09"
        iyy="3.49502855381199E-05"
        iyz="4.20035454211299E-06"
        izz="5.81757170570128E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm7"
    type="fixed">
    <origin
      xyz="0.0275 -0.0296499999999485 -0.0599903810567667"
      rpy="0 0 0" />
    <parent
      link="left_arm6" />
    <child
      link="left_arm7" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm8">
    <inertial>
      <origin
        xyz="-0.0307419726442321 0.00229760411140251 -0.0463673678449107"
        rpy="0 0 0" />
      <mass
        value="0.0398761874096988" />
      <inertia
        ixx="5.26658377784492E-05"
        ixy="-4.12277353940243E-10"
        ixz="-5.57805780342043E-10"
        iyy="6.31884245795606E-05"
        iyz="1.05343616373577E-05"
        izz="2.4249846687143E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm8.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_arm8.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm8"
    type="revolute">
    <origin
      xyz="0.0285425250176359 0.0254170897275924 -0.0653487797565745"
      rpy="0 0 0" />
    <parent
      link="left_arm7" />
    <child
      link="left_arm8" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_hand_tcp">
    <inertial>
      <origin
        xyz="4.60332887919357E-08 -1.44999802442758E-09 1.87281473829071E-07"
        rpy="0 0 0" />
      <mass
        value="0.000143995915056227" />
      <inertia
        ixx="1.26322712578938E-09"
        ixy="3.53844790738145E-15"
        ixz="6.81567181767392E-14"
        iyy="8.77134105058641E-10"
        iyz="3.52598490890353E-14"
        izz="8.76991110155702E-10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_hand_tcp.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/left_hand_tcp.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hand_tcp"
    type="fixed">
    <origin
      xyz="0 0.153697325563072 -0.0864243839945016"
      rpy="0 0 0" />
    <parent
      link="left_arm7" />
    <child
      link="left_hand_tcp" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="whel_Link1">
    <inertial>
      <origin
        xyz="0.0230801665498643 -0.000737881672637941 -0.00043489773681242"
        rpy="0 0 0" />
      <mass
        value="0.286092916963456" />
      <inertia
        ixx="0.000925538429258908"
        ixy="-1.05863350945572E-09"
        ixz="-3.44857172102776E-09"
        iyy="0.000517101301627992"
        iyz="-3.34289565085426E-09"
        izz="0.000517087078163278" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/whel_Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/whel_Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="whel_Link1"
    type="continuous">
    <origin
      xyz="0.201 -0.465 -0.0349999999999996"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="whel_Link1" />
    <axis
      xyz="-1 0 0" />
  </joint>
  <link
    name="whel_Link2">
    <inertial>
      <origin
        xyz="-0.023080177161092 -0.000738344555530845 -0.000434040666072597"
        rpy="0 0 0" />
      <mass
        value="0.286092750982276" />
      <inertia
        ixx="0.000925538233763684"
        ixy="3.66544821210536E-09"
        ixz="-7.64517556978914E-10"
        iyy="0.000517087970004006"
        iyz="4.28917135543356E-09"
        izz="0.000517100154450984" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/whel_Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/whel_Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="whel_Link2"
    type="continuous">
    <origin
      xyz="-0.201 -0.465 -0.0349999999999996"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="whel_Link2" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="whel_Link3">
    <inertial>
      <origin
        xyz="-0.0230801665498642 -2.3909777972092E-07 7.2074210759332E-07"
        rpy="0 0 0" />
      <mass
        value="0.286092916963456" />
      <inertia
        ixx="0.000925538429258908"
        ixy="1.05863350935165E-09"
        ixz="-3.44857171936808E-09"
        iyy="0.000517101301627993"
        iyz="3.34289565125064E-09"
        izz="0.000517087078163278" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/whel_Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/whel_Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="whel_Link3"
    type="continuous">
    <origin
      xyz="-0.201 -0.015 -0.0349999999999999"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="whel_Link3" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="whel_Link4">
    <inertial>
      <origin
        xyz="0.023080177161092 -7.01980672826452E-07 -1.36328632174831E-07"
        rpy="0 0 0" />
      <mass
        value="0.286092750982275" />
      <inertia
        ixx="0.000925538233763684"
        ixy="-3.6654482118733E-09"
        ixz="-7.64517558301595E-10"
        iyy="0.000517087970004007"
        iyz="-4.28917135575603E-09"
        izz="0.000517100154450984" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/whel_Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aider_pro.SLDASM/meshes/whel_Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="whel_Link4"
    type="continuous">
    <origin
      xyz="0.201 -0.015 -0.0349999999999999"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="whel_Link4" />
    <axis
      xyz="-1 0 0" />
  </joint>
</robot>